.numbers_div_programmer {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    grid-template-areas:
      "number_7 number_8 number_9 multiply_"
      "number_4 number_5 number_6 minus"
      "number_1 number_2 number_3 plus"
      "clear number_0 delete equal";
}
  
#number_0 { grid-area: number_0; }
#number_1 { grid-area: number_1; }
#number_2 { grid-area: number_2; }
#number_3 { grid-area: number_3; }
#number_4 { grid-area: number_4; }
#number_5 { grid-area: number_5; }
#number_6 { grid-area: number_6; }
#number_7 { grid-area: number_7; }
#number_8 { grid-area: number_8; }
#number_9 { grid-area: number_9; }
#plus { grid-area: plus; }
#minus { grid-area: minus; }
#multiply { grid-area: multiply_; }
#clear { grid-area: clear; }
#equal { grid-area: equal; }
#delete { grid-area: delete; }
  
.convert-container {
    width: 100%;
    font-size: 60%;
    display: flex;
    justify-content: center;
}

.select_menu {
    position: absolute;
    display: none;
    flex-direction: column;
}

.active_menu_len {
    display: flex;
}

.select:hover {
    cursor: pointer;
}

span {
    margin: 0 7px;
}

.select {
    border: 1px solid rgba(0, 0, 0);
    background-color: #b6b6b6;
    padding: 5px 10px;
    width: 100px;
    border-radius: 5px;
}

.result_container {
    width: 90%;
    margin-bottom: 15px;
    padding-right: 10px;
    padding-top: 10px;
}

#result_div {
    justify-content: space-around;
}