a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.main-container {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.menu_button-div {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.menu-container {
    position: absolute;
    height: 102%;
    width: 70%;
    background-color: #fff;
    left: -100%;
    border-top-right-radius: 20px;
    transition: left 0.5s ease;
    background-color: #181212;
    z-index: 1;
}

.menu-container-visible {
    left: 0;
}

.menu_button {
    background-color: transparent;
    border: none;
    color: white;
}

.menu_list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    color: white;
}

.menu-item {
    padding: 20px;
    text-align: left;
    background-color: transparent;
    color: #fff;
    font-size: 1.1rem;

}

.menu-button:hover {
    cursor: pointer;
}